<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSExtension</key>
    <dict>
        <key>NSExtensionPointIdentifier</key>
        <string>com.apple.dt.Xcode.source-editor</string>

        <key>NSExtensionPrincipalClass</key>
        <string>$(PRODUCT_MODULE_NAME).SourceEditorExtension</string>

        <key>NSExtensionAttributes</key>
        <dict>
            <key>XCSourceEditorCommandDefinitions</key>
            <array>

                <dict>
                    <key>XCSourceEditorCommandIdentifier</key>
                    <string>com.webdmg.xcodetrophies.track.build</string>
                    <key>XCSourceEditorCommandName</key>
                    <string>🏆 Track Build</string>
                    <key>XCSourceEditorCommandClassName</key>
                    <string>TrackBuildCommand</string>
                </dict>

                <dict>
                    <key>XCSourceEditorCommandIdentifier</key>
                    <string>com.webdmg.xcodetrophies.track.test</string>
                    <key>XCSourceEditorCommandName</key>
                    <string>🏆 Track Tests</string>
                    <key>XCSourceEditorCommandClassName</key>
                    <string>TrackTestCommand</string>
                </dict>

                <dict>
                    <key>XCSourceEditorCommandIdentifier</key>
                    <string>com.webdmg.xcodetrophies.show.stats</string>
                    <key>XCSourceEditorCommandName</key>
                    <string>📊 Show Stats</string>
                    <key>XCSourceEditorCommandClassName</key>
                    <string>ShowStatsCommand</string>
                </dict>

                <dict>
                    <key>XCSourceEditorCommandIdentifier</key>
                    <string>com.webdmg.xcodetrophies.show.awards</string>
                    <key>XCSourceEditorCommandName</key>
                    <string>🏅 Show Awards</string>
                    <key>XCSourceEditorCommandClassName</key>
                    <string>ShowAwardsCommand</string>
                </dict>

            </array>
        </dict>
    </dict>
</dict>
</plist>
